<h1>Toplantı katılım bilgisi</h1>
<table>
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td> Katılım durumu </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>İbrahim yılmaz</td>
        <td>iboşowoıg@hotmail.com</td>
        <td>Evet</td>
        <td>
            <a href="#">Detay</a>
        </td>
        </tr>
        <tr>
        <td>ışıl  yılmaz</td>
        <td>ışılg@hotmail.com</td>
        <td>Evet</td>
        <td>
            <a href="#">Detay</a>
        </td>
        </tr>
    </tbody>
</table>